* {
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-name {
  font-size: 3vw;
}
.menu-lists {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-items {
  margin-right: 2vw;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
